.addToCart {
  display: block;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #181818;
  padding: 2rem 0;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1.3rem;
}

.addToCart:hover {
  box-shadow: 0 4px 12px #1818184b;
}