.input {
  display: block;
  grid-area: 1/1;
  background: none;
  text-align: right;
  padding: var(--space-md);
  border: 1px solid #000;
  border-radius: 1rem;
  outline: none;
}

.symbolAfter .input {
  text-align: left;
}

.symbolAfter .currencySymbol {
  text-align: right;
}

.currencySymbol {
  grid-area: 1/1;
  color: var(--text-color-secondary);
  padding: var(--space-md);
}

.wrap {
  display: grid;
  background-color: var(--input-background);
  border-radius: var(--radius-md);
}